@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

#root {
  max-width: 1000px;
  margin: auto;
}

.event-details {
  width: 97%;
  border: 1px dotted #000000;
  padding: 15px;
  margin-bottom: 20px;
}

.event-details .event-title {
  margin: 0;
  padding: 10px 0;
  font-size: 20px;
  line-height: 20px;
}

.event-details-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-details-wrap .align-left {
  width: 50%;
  padding-right: 32px;
}

.event-details-wrap .align-right {
  width: 50%;
  min-height: 250px;
}

.event-details img {
  width: 100%;
  height: 250px;
}

.event-details small, .single-event-details small {
  display: block;
  padding-bottom: 5px;
}

.event-details .excerpt {
  padding-bottom: 15px;
}

.event-details .excerpt p {
  line-height: 22px;
}

.event-details a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ff9000;
  color: #ffffff;
  padding: 10px;
}